


/* =========================
   MEGA MENU
========================= */


.mega-wrapper{

position:relative;

}





.mega-btn{

cursor:pointer;

display:flex;

align-items:center;

gap:8px;

}






.mega-menu{


position:absolute;

top:60px;

right:0;


width:900px;


padding:25px;


border-radius:30px;


display:grid;

grid-template-columns:

repeat(4,1fr) 1.2fr;


gap:20px;



background:

linear-gradient(

145deg,

rgba(20,20,20,.95),

rgba(5,5,5,.92)

);



border:

1px solid rgba(255,255,255,.15);



box-shadow:

0 30px 80px rgba(0,0,0,.8);



opacity:0;

visibility:hidden;


transform:

translateY(20px);


transition:

.35s ease;



z-index:999;

}





/* باز شدن منو */


.mega-wrapper:hover .mega-menu{


opacity:1;

visibility:visible;


transform:

translateY(0);


}








/* ستون ها */


.mega-column{


padding:18px;

border-radius:22px;


background:

rgba(255,255,255,.04);



border:

1px solid rgba(255,255,255,.08);



}





.mega-column h3{


margin-top:0;


font-size:20px;


color:white;


border-bottom:

1px solid rgba(255,0,60,.35);


padding-bottom:12px;


}




.mega-column a{


display:flex;


align-items:center;


gap:8px;


padding:10px;


margin:5px 0;


border-radius:12px;


color:#aaa;


transition:.25s;


}





.mega-column a:hover{


background:

rgba(255,0,60,.15);


color:white;


padding-right:18px;


}






.mega-column hr{


border:0;


height:1px;


background:

rgba(255,255,255,.12);


margin:12px 0;


}








/* بنر ویژه */


.mega-banner{


border-radius:25px;


padding:25px;


display:flex;


flex-direction:column;


justify-content:center;



background:


linear-gradient(

145deg,

rgba(255,0,60,.25),

rgba(255,0,60,.05)

);



border:

1px solid rgba(255,0,60,.3);



}





.mega-banner strong{


font-size:24px;


color:#ff476b;


margin-bottom:15px;


}





.mega-banner p{


color:white;


font-size:18px;


}





.mega-banner span{


color:#aaa;


font-size:14px;


}








/* =========================
   MOBILE MENU FIX
========================= */


@media(max-width:900px){


.mega-menu{


position:fixed;


top:80px;


right:10px;


left:10px;


width:auto;


grid-template-columns:

1fr;



max-height:75vh;


overflow-y:auto;



}



.mega-column{


background:

rgba(255,255,255,.06);


}



.mega-wrapper:hover .mega-menu{


opacity:0;

visibility:hidden;


}



.mega-wrapper.active .mega-menu{


opacity:1;

visibility:visible;


transform:none;


}



}
