


/* =========================
   MOBILE STYLE
========================= */


@media(max-width:900px){



body{

padding-bottom:100px;

}





/* ================= HEADER MOBILE ================= */


.header{


top:8px;

margin:10px auto;

border-radius:22px;


}





.header-container{


gap:10px;


}




.logo-icon{


width:45px;

height:45px;

font-size:22px;


}



.logo strong{


font-size:16px;


}



.logo span{


font-size:11px;


}






/* ================= HERO ================= */



.hero{


margin-top:30px;


}





.hero-image{


min-height:280px;


}





.hero-image img{


max-height:300px;


}







/* ================= MEGA MENU MOBILE ================= */



.mega-menu{


padding:15px;


border-radius:25px;


}





.mega-column{


padding:14px;


}





.mega-column h3{


font-size:18px;


}





.mega-column a{


font-size:14px;


}





.mega-banner{


display:none;


}








/* ================= MOBILE BOTTOM NAV ================= */



.mobile-bottom{


position:fixed;


bottom:15px;


left:50%;


transform:translateX(-50%);



width:

calc(100% - 25px);



height:75px;



display:flex;



align-items:center;


justify-content:space-around;



border-radius:30px;



z-index:9999;



background:


linear-gradient(

145deg,

rgba(20,20,20,.88),

rgba(0,0,0,.75)

);



border:

1px solid rgba(255,255,255,.15);



box-shadow:


0 20px 60px rgba(0,0,0,.8);



backdrop-filter:

blur(25px);



}






.mobile-bottom a{


width:20%;


text-align:center;


color:#aaa;


font-size:11px;


transition:.3s;


}





.mobile-bottom a:first-child{


color:#ff315c;


}





.mobile-bottom a:hover{


color:white;


transform:translateY(-5px);


}





.mobile-bottom a:first-letter{


font-size:22px;


}





.mobile-bottom span{


display:block;


margin-top:5px;


}









/* ================= PRODUCT MOBILE ================= */



.product-card{


display:flex;


gap:15px;


align-items:center;


}





.product-card img{


width:110px;


height:110px;


object-fit:cover;


border-radius:20px;


}








/* ================= SECTIONS ================= */



.about,
.contact{


padding:25px;


border-radius:25px;


}





}




/* =========================
   SMALL MOBILE
========================= */


@media(max-width:500px){



.header{


width:

calc(100% - 15px);


}



.logo div:last-child{


display:none;


}





.hero h1{


font-size:34px;


}




.hero p{


font-size:14px;


}



.hero-buttons{


display:grid;


grid-template-columns:1fr;


}




.primary,
.secondary{


text-align:center;


}





.mobile-bottom{


height:70px;


bottom:10px;


}





.mobile-bottom a{


font-size:10px;


}




}
