.product-page{

max-width:1200px;

margin:70px auto;

padding:20px;


display:grid;

grid-template-columns:1fr 1fr;

gap:50px;


}



.product-gallery{


background:#111;


padding:20px;

border-radius:30px;


border:1px solid rgba(255,0,0,.2);


}



.main-image{


height:500px;


}



.main-image img{


width:100%;

height:100%;


object-fit:contain;


}




.thumbs{


display:flex;


gap:15px;


margin-top:20px;


}



.thumbs img{


width:80px;

height:80px;


object-fit:cover;


border-radius:15px;


cursor:pointer;


border:2px solid transparent;


}




.thumbs img:hover{


border-color:red;


}




.product-info{


background:

rgba(20,20,20,.7);


padding:35px;


border-radius:30px;


border:1px solid rgba(255,0,0,.2);


}



.product-type{


background:red;


padding:8px 15px;


border-radius:20px;


}



.product-info h1{


font-size:42px;


}



.brand{


color:#ff3333;


}



.product-info h2{


color:red;


}



.product-info p{


color:#aaa;

line-height:2;


}




.spec-box{


background:#080808;


padding:20px;


border-radius:20px;


margin-top:25px;


}



.spec-box li{


padding:10px;


color:#ccc;


}



.product-actions{


display:flex;


gap:15px;


margin-top:30px;


}




.product-actions a{


background:red;


padding:15px 25px;


border-radius:15px;


color:white;


}




.whatsapp{


background:#0bbd5a !important;


}




.back-home{


background:red;

padding:12px 20px;

border-radius:15px;


}





@media(max-width:900px){


.product-page{


grid-template-columns:1fr;


}



.main-image{

height:350px;

}



.product-info h1{

font-size:30px;

}


}
